@model MyExpenses.WebApplicationMVC.Models.IndexExpenseViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<br />

<h4>
    Filter
</h4>

<form asp-action="Index" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Month" class="control-label"></label>
        <select asp-for="Month" name="Month" value="Model.Month" class="form-control" asp-items="ViewBag.Months"></select>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <select asp-for="Year" name="Year" value="Model.Year" class="form-control" asp-items="ViewBag.Years"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>

</form>

<br />

<h4>
    Total Incoming: @Html.DisplayFor(model => model.TotalIncoming)
</h4>

<h4>
    Total Outcoming: @Html.DisplayFor(model => model.TotalOutcoming)
</h4>

<h4>
    Total Left: @Html.DisplayFor(model => model.TotalLeft)
</h4>

<br />

@if (Model.Incoming.Any())
{
    <h2>
        Incoming
    </h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expense.Payment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Incoming)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />

@if (Model.Outcoming.Any())
{
    <h2>
        Outcoming
    </h2>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense.Payment)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Outcoming)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
