@model MyExpenses.WebApplicationMVC.Models.PaymentIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Month" class="control-label"></label>
        <select asp-for="Month" name="Month" value="Model.SelectedMonth" class="form-control" asp-items="ViewBag.Months"></select>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <select asp-for="Month" name="Year" value="Model.SelectedYear" class="form-control" asp-items="ViewBag.Years"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>

</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Payments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Payment.Id">Edit</a>
                @*<a asp-action="Details" asp-route-id="@item.Payment.Id">Details</a>*@ |
                <a asp-action="Delete" asp-route-id="@item.Payment.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
